<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/icon.ico">
</head>

<body class="bg">

    <!-- Navigation bar section -->
    <nav class="navbar nav-bgg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="nav-logo" src="img/new-logo.png" alt="" width="214" height="64">
            </a>
            <div class="d-flex nav-links">
                <a href="https://github.com/kapansa/Movies-Collection-Information-Website">Github</a>
                <a href="https://www.themoviedb.org/documentation/api" target="_blank">API Documentation</a>
                <a href="https://portfolio-website-a7a5a2.webflow.io/">About Me</a>
            </div>
        </div>
    </nav>

    <!-- Search section -->
    <div class="input-section">
        <form class="row g-3" action="/<%= movies %>" method="post">
            <div class="col-auto">
                <input class="search form-control" type="text" name="movie"
                    placeholder="Search for your favourite movies and Tv shows...">
            </div>
            <div class="col-auto">
                <input type="submit" class="submit mb-3" name="Search">
            </div>
        </form>
    </div>

</body>

</html>